doc_validator\.env
doc_validator\__pycache__
doc_validator/.env:1
doc_validator\.env:1
college_data_v2.csv
college_data_v3.csv
college_data.csv
college_rank_list.csv
doc_validator\.env
fire_cert.pdf
generate_data.py
risk_model.pkl
scaler.pkl
college_aggregator.py
test_fire_cert.jpg
package-lock.json
__pycache__
.env
backend\__pycache__

